pdfplumber
python-docx
spacy==3.8.11
sentence-transformers
scikit-learn
pandas
numpy
rapidfuzz
streamlit
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl